:root {
  /* Primary colors */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

/* Header */

header {
  font-family: "Overpass";
  background-image: url("images/bg-pattern-intro.svg"),
    linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 65%);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: left;
  border-bottom-left-radius: 70px;
  color: var(--white);

  margin-bottom: 100px;
}

.grid-container-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 2fr;

  padding: 50px;
}

.grid-container-header .mobile-menu {
  display: none;
}

.grid-container-header .el1 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin-right: 30px;
}

.grid-container-header .el2 {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  place-self: center;
}

.grid-container-header .el3 {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  place-self: center;
}

.grid-container-header .el4 {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
  place-self: center;
}

.grid-container-header .el5 {
  grid-column: 9 / 9;
  grid-row: 1 / 1;
}

.grid-container-header .el6 {
  grid-column: 10 / 10;
  grid-row: 1 / 1;
}

.grid-container-header .el7 {
  grid-column: 2 / span 8;
  grid-row: 3 / 3;
  text-align: center;
  font-size: xxx-large;
}

.grid-container-header .el8 {
  grid-column: 3 / span 6;
  grid-row: 4 / 4;
  text-align: center;
  font-size: larger;
}

.grid-container-header .el9 {
  grid-column: 5 / 5;
  grid-row: 5 / 5;
}

.grid-container-header .el10 {
  grid-column: 6 / 6;
  grid-row: 5 / 5;
}

@media only screen and (max-width: 950px) {
  .grid-container-header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .grid-container-header .mobile-menu {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-top: 10px;
    place-self: flex-start flex-end;
  }

  .grid-container-header .el2 {
    display: none;
  }

  .grid-container-header .el3 {
    display: none;
  }

  .grid-container-header .el4 {
    display: none;
  }

  .grid-container-header .el5 {
    display: none;
  }

  .grid-container-header .el6 {
    display: none;
  }

  .grid-container-header .el7 {
    grid-column: 1 / span 2;
    font-weight: normal;
  }
  .grid-container-header .el8 {
    grid-column: 1 / span 2;
  }

  .grid-container-header .el9 {
    grid-column: 1 / 1;
    place-self: center flex-end;
  }
  .grid-container-header .el10 {
    grid-column: 2 / 2;
    place-self: center flex-start;
  }
}

.menu-item-flex {
  display: flex;
  align-items: center;
}

.menu-item-flex img {
  padding-right: 5px;
  padding-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#ddItem1,
#ddItem2,
#ddItem3 {
  display: none;
}

.dropdown-content {
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  margin-top: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-weight: 600;
}

.dropmenu:hover {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
}

.transparent-btn {
  background-color: unset;
  color: var(--white);
  border: 1px solid var(--white);
}

.transparent-btn:hover {
  background-color: var(--white);
  color: var(--very-light-red);
}

#btn-login {
  border: none;
}

.white-btn {
  background-color: var(--white);
  color: var(--light-red);
}

.white-btn:hover {
  background-color: var(--very-light-red);
  color: var(--white);
}

/* Main */

main {
  font-family: "Ubuntu";
}

h2,
h3 {
  color: var(--very-dark-blue);
}

/* First block grid */

.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 1rem;

  overflow: hidden;
  padding: 0px 50px 100px 50px;
}

.grid-container-1 h2 {
  grid-column: 2 / span 2;
  place-self: center;
}

.grid-container-1 h3 {
  grid-column: 1 / span 2;
  place-self: end start;
}

.grid-container-1 div {
  grid-column: 1 / span 2;
}

.grid-container-1 img {
  grid-column: 3 / span 2;
  grid-row: 2 / span 4;
  place-self: center;
  max-width: 100%;
  position: relative;
  right: -10vw;
}

@media only screen and (max-width: 950px) {
  .grid-container-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .grid-container-1 h2 {
    grid-column: 1 / 1;
  }

  .grid-container-1 h3 {
    grid-column: 1 / 1;
  }

  .grid-container-1 div {
    grid-column: 1 / 1;
  }

  .grid-container-1 img {
    content: url("images/illustration-editor-mobile.svg");
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    right: 0vw;
  }
}

/* Second block grid */

.grid-container-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(90deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 65%);
  color: var(--grayish-blue);

  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 350px;

  background-repeat: no-repeat;
  background-position-x: -20%;
  background-position-y: 80%;

  margin: 60px 0;
}

.grid-container-2 img {
  grid-column: 1 / 1;
  grid-row: 1 / span 4;
  place-self: center;
}

.grid-container-2 h2 {
  grid-row: 2 / 2;
  align-self: end;
  color: var(--white);
}

.grid-container-2 div {
  grid-row: 3 / 3;
  padding-right: 200px;
}

@media only screen and (max-width: 950px) {
  .grid-container-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    height: auto;

    background-position-x: center;
    background-position-y: 120%;
  }

  .grid-container-2 img {
    grid-row: 1 / 1;
    max-width: 100%;
    position: relative;
    top: -20vh;
    margin-bottom: -150px;
  }

  .grid-container-2 h2 {
    text-align: center;
  }

  .grid-container-2 div {
    padding: 10px 50px 70px 50px;
    text-align: center;
  }
}

/* Third block grid */

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 1rem;
}

.grid-container-3 img {
  grid-row: 1 / span 6;
  place-self: center;
  position: relative;
  left: -20vw;
  width: 150%;
}

.grid-container-3 .first {
  grid-row: 2 / span 2;
  padding: 20px 50px;
}

.grid-container-3 .second {
  grid-row: 4 / span 2;
  padding: 20px 50px;
}

.grid-container-3 h3 {
  padding-bottom: 20px;
  align-self: end;
}

@media only screen and (max-width: 950px) {
  .grid-container-3 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    justify-items: center;
    text-align: center;
  }

  .grid-container-3 img {
    content: url("images/illustration-laptop-mobile.svg");
    grid-row: 1;
    left: 0vw;
    max-width: 100%;
  }

  .grid-container-3 h3 {
    align-self: center;
  }
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Overpass";
  border-top-right-radius: 70px;
  background-color: var(--very-dark-black-blue);
  color: var(--grayish-blue);

  margin-top: 100px;
  padding: 80px;
}

footer img {
  justify-self: left;
}

footer h4 {
  font-weight: 300;
  color: var(--white);
  margin-bottom: 15px;
  padding-bottom: 20px;
}

footer div {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 950px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    place-content: center;
    text-align: center;
  }

  footer img {
    justify-self: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
